<div fxLayout="column wrap" fxLayoutAlign="space-between center">
    <span><h1 class="heading">{{headingMessage | uppercase }}</h1></span>
    
</div>

<div class="layoutClass" fxLayoutAlign="space-between stretch">
   <div>
    <div fxLayout="wrap row">
      <ol *ngFor="let card of cards">
        <mat-card class="example-card" class="matCard">
          <mat-card-header>
            <mat-card-title>Maha Ganapati</mat-card-title>
            <mat-card-subtitle>RanjanGaon</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="card.src" alt="">
          <mat-card-content>
            <p>
              Ranjangaon Ganpati is one among the Ashtavinayak, celebrating eight instances of legends related to
              Ganesha. This temple's Ganpati idol was inaugurated and donated by the "Khollam" family, a goldsmith
              family based in Ranjangaon. The temple was built between the 9th and 10th century.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </ol>
    </div>
  </div>
</div>